{%- set current_version = salt['pillar.get']('vagrant:control:version', '1.6.3') %}
{%- set base_url = 'https://dl.bintray.com/mitchellh/vagrant' %}
{%- set control = salt['grains.filter_by']({
    'Debian': {
        'base_dir': '/srv/vagrant',
        'root_dir': '/root',
        'base_url': base_url,
        'base_file': 'vagrant_' + current_version + '_x86_64.deb',
    },
    'MacOS': {
        'base_dir': '/srv/vagrant',
        'root_dir': '/var/root',
        'base_url': base_url,
        'base_file': 'vagrant_' + current_version + '.dmg',
    },
    'RedHat': {
        'base_dir': '/srv/vagrant',
        'root_dir': '/root',
        'base_url': base_url,
        'base_file': 'vagrant_' + current_version + '_x86_64.rpm',
    },
    'Windows': {
        'base_dir': 'C:/srv/vagrant',
        'base_url': base_url,
        'base_file': 'vagrant_' + current_version + '.msi',
    },
}, merge=salt['pillar.get']('vagrant:control')) %}
